@media(min-width:1000px){
    *{
        margin:0px;
        padding: 0px;
        scroll-behavior: smooth;
    }
    header{
        display: block;
        background-color:white;
        width: 100%;
        z-index: 1;
        position: fixed;
    }
    .conteiner{
        display:flex;
        justify-content:space-around;
        padding:20px;
    }
    .kvadrati{
        width: 15px;
        height: 15px;
        background-color: rgb(15, 15, 217);
        margin: 12px 10px 10px 10px;
    }
    .contIncont{
        display: inline-flex;
        justify-content: left;
    }
    .pclass{
        font-size: 20px;
        margin:10px;
    }
    .contIncontTwo ul{
        display: inline-flex;
        list-style:none;
    }
    .contIncontTwo ul li{
        padding:15px;
        cursor: pointer;
        font-size: 25px;
    }
    .contIncontTwo ul li a{
        text-decoration: none;
        color: black;
    }

    .contIncontTwo a:hover{
        color: rgb(63, 63, 239);
        transition-duration: 0.5s ;
    }
    /* finish header */
    /*start main*/
    .shua{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .shua .aboutKvad{
        width: 25px;
        height: 25px;
        background-color: rgb(15, 15, 217);
        margin-top: 5px;
        transform: translateX(-10px);
    }
    html{
        background-color:rgba(222, 184, 135, 0.749);
        height: auto;
    }
    main{
        transform: translateY(200px);
    }
    .imgone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imgone img{
        width: 400px;
        height: 250px;
        margin:20px;
        padding: 20px;
    } 
    .inscription{
        background-color: aliceblue;
        width: auto;
        height: auto;
        padding: 10px;
        margin: 0px 20px 0px 20px;
        border-radius: 8px;

    }
    /*bollll*/
    #bolo{
        width: auto;
        height: 100px;
        background-color: whitesmoke;
        margin-top: 200px;
    }
    .jm ul li{
    display: inline-flex;
    transform: translateY(40px);
    margin-left: 100px;
    }
    .boloBar{
        display: flex;
        justify-content:end;
        padding:0px 30px 0px 30px;
    }
    .boloBar ul{
        display: inline-flex;
        list-style: none;
    }
    .boloBar ul li{
        display: flex;
    }
    .boloBar li{
        padding:15px 20px 0px 20px;
    }
    .boloBar ol li{
        display: inline-block;
        list-style: none;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
    }
    .boloBar ol li a{
        text-decoration: none;
        color:black;
    }
}


@media(max-width:999px){
    *{
        margin:0px;
        padding: 0px;
        scroll-behavior: smooth;
    }
    .kvadrati{
        width: 15px;
        height: 15px;
        background-color: rgb(15, 15, 217);
        margin-left: 90px;
        transform: translateY(26px);
    }
    .contIncont{
        background-color:white;
        padding: 10px;
        width: 100%;
    }
    .contIncont h1, p{
        display: flex;
        justify-content: center;
    }
    .conteiner .contIncontTwo{
        display: flex;
        justify-content: center;
        padding: 20px 0px 20px 0px;
    }
    .contIncontTwo ul{
        display: inline-flex;
        list-style:none;
        justify-content: center;
    }
    .contIncontTwo ul li{
        margin: 20px;
        cursor: pointer;
        font-size: 25px;
    }
    .contIncontTwo ul li a{
        text-decoration: none;
        color: black;
    }
    .contIncontTwo a:hover{
        color: rgb(63, 63, 239);
        transition-duration: 0.5s ;
    }
    body{
        background-color:rgba(222, 184, 135, 0.749);
    }
    /* main */
    .shua{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    .shua .aboutKvad{
        width: 25px;
        height: 25px;
        background-color: rgb(15, 15, 217);
        margin-top: 5px;
        transform: translateX(-10px);
    }
    html{
        background-color:rgba(222, 184, 135, 0.749);
        height: auto;
    }
    main{
        transform: translateY(70px);
    }
    .imgone{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .imgone img{
        width: 300px;
        height: 200px;
        margin:20px;
        padding: 20px;
    } 
    .inscription{
        background-color: aliceblue;
        width: auto;
        height: auto;
        padding: 10px;
        margin: 0px 20px 0px 20px;
        border-radius: 8px;

    }
    /* finish */
    #bolo{
        width: auto;
        height: 100px;
        background-color: whitesmoke;
        margin-top: 200px;
    }
    .jm ul li{
        display: flex;
        justify-content: center;
    }
    .boloBar{
        display: flex;
        padding: 20px;
    }
    .boloBar ul{
        display: inline-flex;
        list-style: none;
    }
    .boloBar ul li{
        display: flex;   
    }
    .boloBar ol li{
        display: inline-block;
        list-style: none;
        text-decoration: none;
        font-size: 18px;
        cursor: pointer;
    }
    .boloBar ol li a{
        text-decoration: none;
        color:black;
        transform: translateY(20px);
    }
}
